extends ../../layout/default.pug

block main
  .container-fluid
    // Header
    

    // Overview cards
    .row.g-4
      // Total books
      .col-md-3
        .card.shadow-sm
          .card-body
            h5.card-title.text-primary Sách
            h4.card-text.display-5.text-dark #{product} 
                i.fas.fa-book.text-primary.float-end.display-6

      // Total users
      .col-md-3
        .card.shadow-sm
          .card-body
            h5.card-title.text-success Người dùng
            h4.card-text.display-5.text-dark #{userc} 
                i.fas.fa-users.text-success.float-end.display-6

      // Total comments
      .col-md-3
        .card.shadow-sm
          .card-body
            h5.card-title.text-warning Bình luận
            h4.card-text.display-5.text-dark 
                | #{comment} 
                i.fas.fa-comments.text-warning.float-end.display-6

      .col-md-3
        .card.shadow-sm
            .card-body
                h5.card-title.text-warning Danh mục
                h4.card-text.display-5.text-dark 
                    | #{category} 
                    i.fas.fa-comments.text-warning.float-end.display-6

      

    

    // Alerts section
    .row.mt-4.g-4
      // Out of stock books
      .col-md-6
        .card.shadow-sm
          .card-body
            h5.card-title.text-warning Sách đã bị xoá
            p.card-text.display-6.text-dark #{deleted} 
            a.btn.btn-warning.mt-2(href="/admin/product/deleted") Quản lý 
                i.fas.fa-box-open.float-end.display-6

      // Pending comments
      .col-md-6
        .card.shadow-sm
          .card-body
            h5.card-title.text-danger Bình luận chưa duyệt
            p.card-text.display-6.text-dark #{penddingcomment} 
            a.btn.btn-danger.mt-2(href="/admin/comment") Duyệt bình luận 
                i.fas.fa-exclamation-triangle.float-end.display-6

    // Recent activities section
    .row.mt-4
      .col-md-12
        .card.shadow-sm
          .card-body
            h5.card-title.text-info Hoạt động gần đây
            ul.list-group.list-group-flush
                each activity in activities
                    li.list-group-item.d-flex.align-items-center
                    i.fas(
                        class=activity.activity_type === 'register' ? 'fa-user-circle text-info' 
                        : activity.activity_type === 'comment' ? 'fa-comment-alt text-success' 
                        : 'fa-shopping-cart text-warning'
                    ).me-3
                    span= activity.description
                    span.text-muted.float-end= activity.created_at
