extends ../../layout/default.pug 
include ../../mixins/pagination.pug

block main 
    .card.mb-4.shadow-sm.rounded
        .card-header.bg-primary.text-white.py-3
            h3.card-title.text-center.mb-0 Danh sách sản phẩm
        .card-body
            .row.align-items-center.mb-4
                .col-md-6
                    form.form-inline(method="POST", action="", form-search)
                        input.form-control.mr-2(type="search", placeholder="Tìm sản phẩm", aria-label="Search", name="search")
                        button.btn.btn-outline-light(type="submit")
                            i.fas.fa-search.mr-1
                            | Tìm
                .col-md-3.text-right
                    button.btn.btn-success.shadow-sm(onclick="window.history.back()")
                        i.fas.fa-backward.mr-1
                        | Trở lại
                

            table.table.table-hover.table-bordered.rounded.shadow-sm
                thead.thead-dark 
                    tr.text-center
                        th(style="width: 5%;") STT
                        th(style="width: 10%;") Hình ảnh
                        th(style="width: 30%;") Tên sản phẩm
                        th(style="width: 15%;") Giá
                        th(style="width: 10%;") Lượt xem
                        th(style="width: 10%;") Trạng thái
                        th(style="width: 20%;") Thao tác
                tbody
                    each item, index in products
                        tr.text-center
                            td= index + 1
                            td 
                                img.img-thumbnail(src=item.image, alt=item.name, style="max-width: 80px; max-height: 80px;")
                            td.text-left= item.name
                            td #{item.price} VNĐ
                            td #{item.watched}
                            if item.status === "active"
                                td.text-success Hoạt động
                            else
                                td.text-danger Ngừng hoạt động
                            td 
                                a.btn.btn-info.btn-sm.mr-1(href=`/${prefixAdmin}/product/edit/${item.isbn}`, style="margin: 8px") 
                                    i.fas.fa-info-circle.mr-1
                                    | Thay đổi trạng thái
                                

        +pagination(currentPage, totalPage)

    script(src="/admin/js/product.js")
