//- File: edit-product.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Edit Product
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

  body
    .container.mt-5
      h1.text-center.mb-4.text-primary Edit Product
      form(action=`/${prefixAdmin}/product/edit/${product._id}` method="POST" enctype="multipart/form-data")
        
        //- Name
        .mb-3
          label.form-label(for="name") Product Name
          .input-group
            span.input-group-text
              i.fas.fa-tag
            input.form-control(type="text" name="name" id="name" placeholder="Enter product name" required value=product.name)

        //- Quantity
        .mb-3
          label.form-label(for="quantity") Quantity
          .input-group
            span.input-group-text
              i.fas.fa-boxes
            input.form-control(type="number" name="quantity" id="quantity" placeholder="Enter available quantity" required value=product.quantity)

        //- Author
        .mb-3
          label.form-label(for="author") Author
          .input-group
            span.input-group-text
              i.fas.fa-user
            input.form-control(type="text" name="author" id="author" placeholder="Enter author's name" required value=product.author)

        //- Language
        .mb-3
          label.form-label(for="language") Language
          .input-group
            span.input-group-text
              i.fas.fa-language
            input.form-control(type="text" name="language" id="language" placeholder="Enter language" required value=product.language)

        //- Type of Paper
        .mb-3
          label.form-label(for="typePaper") Type of Paper
          .input-group
            span.input-group-text
              i.fas.fa-file-alt
            input.form-control(type="text" name="typePaper" id="typePaper" placeholder="Enter type of paper" required value=product.typePaper)

        //- Number of Pages
        .mb-3
          label.form-label(for="numPage") Number of Pages
          .input-group
            span.input-group-text
              i.fas.fa-book
            input.form-control(type="number" name="numPage" id="numPage" placeholder="Enter number of pages" required value=product.numPage)

        //- Publisher
        .mb-3
          label.form-label(for="publisher") Publisher
          .input-group
            span.input-group-text
              i.fas.fa-building
            input.form-control(type="text" name="publisher" id="publisher" placeholder="Enter publisher" required value=product.publisher)

        //- Year of Publication
        .mb-3
          label.form-label(for="yearPublish") Year of Publication
          .input-group
            span.input-group-text
              i.fas.fa-calendar
            input.form-control(type="number" name="yearPublish" id="yearPublish" placeholder="Enter year of publication" required value=product.yearPublish)

        //- Price
        .mb-3
          label.form-label(for="price") Price
          .input-group
            span.input-group-text
              i.fas.fa-dollar-sign
            input.form-control(type="number" name="price" id="price" placeholder="Enter price" required step="0.01" value=product.price)

        //- Description
        .mb-3
          label.form-label(for="description") Description
          .input-group
            span.input-group-text
              i.fas.fa-align-left
            textarea.form-control(name="description" id="description" rows="3" placeholder="Enter product description" required)= product.description

       
        .mb-3
            label.form-label(for="image" upload-image) Upload Image
            .input-group
                span.input-group-text
                i.fas.fa-upload
                input.form-control(type="file" name="image" id="image" accept="image/*" )
                
            img.img-thumbnail(src=product.image alt=product.name id="imagePreview" style="display: block; width: 100px; height: 100px; object-fit: cover; margin-top: 10px;")

        //- Status
        .mb-3
          label.form-label(for="status") Status
          .input-group
            span.input-group-text
              i.fas.fa-toggle-on
            select.form-select(name="status" id="status")
              option(value="active" selected=product.status === 'active') Active
              option(value="inactive" selected=product.status === 'inactive') Inactive

        //- Submit Button
        .d-grid
          button.btn.btn-primary.btn-lg(type="submit")
            i.fas.fa-save.me-2
            | Save Changes

    //- Bootstrap and FontAwesome Scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js")
