extends ../../layout/default.pug 
include ../../mixins/pagination.pug

block main 
    .card.mb-4.shadow-sm.rounded
        
        .card-body
            .row.align-items-center.mb-4
                .col-md-6
                    form.form-inline(method="POST", action="", form-search)
                        input.form-control.mr-2(type="search", placeholder="Tìm sản phẩm", aria-label="Search", name="search")
                        button.btn.btn-outline-light(type="submit")
                            i.fas.fa-search.mr-1
                            | Tìm
                .col-md-3.text-right
                    a.btn.btn-danger.shadow-sm(href=`/${prefixAdmin}/product/deleted`)
                        i.fas.fa-trash.mr-1
                        | Sản phẩm đã xoá
                .col-md-3.text-left
                    a.btn.btn-light.shadow-sm(href=`/${prefixAdmin}/product/create`)
                        i.fas.fa-plus-circle.mr-1
                        | Thêm sản phẩm

            table.table.table-hover.table-bordered.rounded.shadow-sm
                thead.thead-dark 
                    tr.text-center
                        th(style="width: 5%;") STT
                        th(style="width: 10%;") Hình ảnh
                        th(style="width: 27%;") Tên sản phẩm
                        th(style="width: 13%;") Giá
                        th(style="width: 10%;") Lượt xem
                        th(style="width: 10%;") Trạng thái
                        th(style="width: 25%;") Thao tác
                tbody
                    each item, index in products
                        tr.text-center
                            td= index + 1
                            td 
                                img.img-thumbnail(src=item.image, alt=item.name, style="max-width: 80px; max-height: 80px;")
                            td.text-left= item.name
                            td #{item.price} VNĐ
                            td #{item.watched}
                            if item.status === "active"
                                td.text-success Hoạt động
                            else
                                td.text-danger Ngừng hoạt động
                            td 
                                a.btn.btn-info.btn-sm.mr-1(href=`/${prefixAdmin}/product/detail/${item.isbn}`)
                                    i.fas.fa-info-circle.mr-1
                                    | Chi tiết
                                a.btn.btn-warning.btn-sm.mr-1(href=`/${prefixAdmin}/product/edit/${item.isbn}`)
                                    i.fas.fa-edit.mr-1
                                    | Sửa
                                a.btn.btn-danger.btn-sm(href=`/${prefixAdmin}/product/delete/${item.isbn}`)
                                    i.fas.fa-trash-alt.mr-1
                                    | Xóa

        +pagination(currentPage, totalPage)

    script(src="/admin/js/product.js")
