extends ../../layout/default.pug
include ../../mixins/pagination.pug

block main 
    .card.mb-4.shadow-sm.rounded
        
        .card-body
            .row.align-items-center.mb-4
                .col-md-6
                    form.form-inline(method="POST", action="", form-search)
                        input.form-control.mr-2(type="search", placeholder="Tìm id sản phẩm", aria-label="Search", name="search")
                        button.btn.btn-outline-light(type="submit")
                            i.fas.fa-search.mr-1
                            | Tìm

            table.table.table-hover.table-bordered.rounded.shadow-sm
                thead.thead-dark 
                    tr.text-center
                        th(style="width: 5%;") STT
                        th(style="width: 20%;") Sản phẩm
                        th(style="width: 15%;") Người dùng
                        th(style="width: 40%;") Nội dung
                        th(style="width: 20%;") Thao tác
                tbody
                    if !comments || comments.length === 0
                        tr
                            td.text-center.text-muted(colspan="5") Không có bình luận nào được tìm thấy
                    else
                        each item, index in comments
                            tr.text-center
                                td= index + 1
                                td.text-left= item.productName || "Không xác định"
                                td.text-left= item.userFullname || "Không xác định"
                                td.text-left= item.content || "Không có nội dung"
                                td
                                    a.btn.btn-info.btn-sm.mr-1(href=`/${prefixAdmin}/comment/reply-comment/${item.pendID}`)
                                        i.fas.fa-reply.mr-1
                                        | Trả lời
                                    button.btn.btn-danger.btn-sm(type="button", onclick=`deleteComment('${item.pendID}')`)
                                        i.fas.fa-trash-alt.mr-1
                                        | Xóa

        +pagination(currentPage, totalPage || 1)

    script.
        async function deleteComment(id) {
            if (confirm("Bạn có muốn xoá bình luận này?")) {
                try {
                    const response = await fetch(`/admin/comment/delete`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ pendID: id })
                    });
                    const data = await response.json();
                    if (response.ok && data.success) {
                        alert("Xoá bình luận thành công");
                        window.location.reload();
                    } else {
                        alert(data.message || "Xoá bình luận thất bại");
                    }
                } catch (error) {
                    alert("Đã xảy ra lỗi khi xoá bình luận");
                }
            }
        }
